body{
    background-image:url(../Pictures/Background/backgroundmoon.png);
    padding: 0;
    margin: 0;
    background-color: rgb(149, 97, 184);
    padding-bottom: 100px;
}

p{
    font-family:Poetsen One, Roboto, Arial ; 
    padding: 0;
    margin: 0;
}

.centerH{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.centerW{
    width: 50%;
    margin: auto;
}

.MainBody{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    
}

.CenterBody{
    background-color: rgba(5, 171, 177, 0.521);
}

.FlexBox0{
    flex: 1;
}

.FlexBox1{
    flex:20;
}

.CenterText{
    text-align: center;
}

.RobotoF{
    font-family: Roboto, Arial;
}

.WRFont{
    font-family: Sedan SC, Roboto, Arial;
}


#BackgroundV{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.center25{
    width: 75%;
    margin: auto;
}